/*suggestion section styling start*/
.suggestions {
  display: flex;
  font-size: 16px;
  line-height: 1.5em;
}
.sellers {
  flex: 1;
  background-image: url("../Home/Home-Images/redBg.png");
  background-color: #fd8863;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.sellers a {
  color: white;
  background-color: #66200a;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  padding: 0.45em 1.5em 0.46em 1.5em;
}
.sellers,
.customers {
  padding: 8vw 5vw 7vw 6vw;
  box-sizing: border-box;
}
.customers a {
  color: white;
  font-weight: 500;
  background-color: #0b3864;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.45em 1.5em 0.46em 1.5em;
}
.customers {
  flex: 1;
  background-color: #80c0ff;
  width: 100%;
  background-image: url("../Home/Home-Images/blueBg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.suggestion-bg div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.suggestion-bg div div p {
  font-size: 1.32em;
  font-weight: 600;
}
.sellers .suggestion-bg div div p {
  color: #822f14;
}
.customers .suggestion-bg div div p {
  color: #164d83;
}
.suggestion-bg div ~ p {
  max-width: 25em;
  font-size: 1em;
  margin-top: 0.8em;
  color: white;
  font-weight: 500;
}
.suggestion-bg h1 {
  line-height: 1.3em;
  font-size: 3em;
  font-weight: 700;
  color: white;
}
.suggestion-bg {
  display: flex;
  flex-direction: column;
  gap: 1.9em;
  align-items: flex-start;
}
@media only screen and (max-width: 645px) {
  .suggestions {
    flex-direction: column;
    font-size: 15px;
  }
  .sellers,
  .customers {
    padding: 10vw 6vw 16vw 11vw;
  }
}
/*suggestion section styling end*/

/*comments design start*/

.comments {
  background-color: black;
  margin-top: 100px;
  position: relative;
  color: white;
  display: flex;
  background-repeat: repeat-x;
  flex-direction: column;
  font-size: 24px;
  gap: 1.9em;
}

.bgComment {
  position: absolute;
  width: 100%;
  top: -150px;
  height: 100%;
  z-index: -1;
}
.comments-head {
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0px;
  text-align: center;
}
.comments-head ~ div {
  display: flex;
  gap: 1.8em;
  padding: 0em 1.8em;
  padding-bottom: 2.75em;
}
.comment {
  background-color: #232323;
  border-radius: 0.2em;
  display: flex;

  flex-direction: column;
  gap: 4em;
  justify-content: space-between;
  padding: 2.4em 2.3em 1.8em 2.3em;
  flex: 1;
  align-items: center;
  text-align: center;
}

.comment-head img {
  width: 2.1em;
}
.comment-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3em;
}
.comment-head ~ div {
  display: flex;
  flex-direction: column;
}
.comment-head ~ div h1 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.6em;
}
.comment-head p {
  line-height: 1.6em;
  width: 25ch;
  font-size: 0.825em;
  line-height: 1.6em;
}

.comment-head ~ div p {
  font-size: 0.68em;
  line-height: 1.6em;
}
.comments-scroll {
  overflow-x: scroll;
  margin-bottom: 2em;
}
.comments-scroll::-webkit-scrollbar {
  width: 4em;
  background-color: black;
  height: 0.65em;
}

.comments-scroll::-webkit-scrollbar-track {
  background-color: white;
  border-top: 7.5px solid black;
  border-bottom: 7.5px solid black;
  margin-left: 10em;
  border-radius: 7px;
  margin-right: 10em;
}

.comments-scroll::-webkit-scrollbar-thumb {
  min-width: 100px;
  background-color: #fd6636;
  border-radius: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 1200px) {
  .comments {
    font-size: 22px;
  }
}
@media only screen and (max-width: 900px) {
  .comments {
    font-size: 18px;
  }
}
@media only screen and (max-width: 570px) {
  .comments-scroll::-webkit-scrollbar {
    height: 1em;

    width: 2.8em;
  }
  .comments-scroll::-webkit-scrollbar-track {
    margin-left: 4em;
    margin-right: 4em;
  }
  .comments {
    font-size: 16px;
  }
}
/*comments design end*/

/*whyShop design start*/
.shopSection {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-bottom: 3em;
  padding-top: 1em;
}
.whyShop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 40px;
  gap: 2em;
}
.shopIntro {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.shopIntro h1 {
  color: #ff8963;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 31.8px;
}
.shopIntro p {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  color: #0a2540;
}
.announce-group {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 4.8em;
}
.announce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 9.3em;
  gap: 0.35em;
}
.announce img {
  width: 36px;
  margin-bottom: 0.4em;
}
.announce h2:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 18px;
  background-color: #ff8963;
  left: -20px;
}
.announce h2 {
  display: flex;
  align-items: center;
  color: #0a2540;
  font-weight: 600;
  font-size: 0.9em;
  position: relative;
}
.announce p {
  font-size: 0.75em;
  color: #425466;
  font-weight: 400;
  padding-top: 0.4em;
  line-height: 1.35em;
}
@media only screen and (max-width: 770px) {
  .shopSection {
    justify-content: flex-start;
    font-size: 22px;
    padding-top: 3em;
  }
  .whyShop {
    margin: 0;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 750px) {
  .announce-group {
    flex-direction: column;
    gap: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .shopSection {
    font-size: 17.8px;
  }
  .whyShop {
    margin: 12px;
  }
}
/*announce design end*/

/*store design start*/
.store {
  background: linear-gradient(
    to bottom,
    #f5faff 0%,
    #f5faff 60.3%,
    rgba(245, 250, 255, 0) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  padding: 9.5em 1.8em 8.5em 3em;
  gap: 2em;
}
.store .Intro a {
  font-weight: 500;
}
.storeEnter img {
  height: 100%;
  width: 100%;
}
.bgStore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.storeEnter {
  height: 22.4em;
  z-index: 10;
  width: 16.85em;
}
.Intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  z-index: 10;
}
.Intro h1 {
  font-size: 1em;
  color: #ff8963;
  text-transform: uppercase;
  font-weight: 700;
}
.Intro h1 ~ p:first-of-type {
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.3em;
  font-size: 1.9em;
  max-width: 12em;
  font-weight: 700;
}
.Intro h1 ~ p:last-of-type {
  font-size: 0.95em;
  font-weight: 350;
  max-width: 20em;
  color: #a4a4a3;
}
.Intro h1 ~ p:last-of-type span {
  color: #fd8863;
}
.Intro a {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff8963;
  font-size: 0.85em;

  font-family: Inter;
  margin-top: 1em;
  margin-bottom: 1.8em;
  border: none;
  padding: 0.5em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  color: black;
}
.Intro a img {
  width: 18px;
}
.store-announce {
  display: flex;
  font-size: 24px;
  gap: 2.1em;
}
.store-announce .announce {
  max-width: 11.5em;
  gap: 0.7em;
}

.store-announce .announce h2 {
  color: white;
}
.store-announce .announce h2:after {
  background-color: #00d4ff;
}
.store-announce .announce p {
  color: #a4a4a3;
}

@media only screen and (max-width: 959px) {
  .store {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    margin-top: -6.5em;
    padding: 13em 1.8em 3.6em 2.7em;
  }
}
@media only screen and (max-width: 720px) {
  .store {
    margin-top: 0em;
    padding-top: 8em;
  }
  .Intro {
    gap: 1.3em;
  }
  .store-announce {
    flex-direction: column;
    padding-top: 1.2em;
  }
  .Intro h1 ~ p:last-of-type {
    font-size: 1.05em;
    font-weight: 600;
  }
  .product .Intro h1 ~ p:last-of-type {
    font-weight: 700;
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 480px) {
  .store {
    font-size: 16px;
    margin-top: -6.5em;
    padding: 8em 1.8em 4em 1.8em;

    gap: 3.2em;
  }
  .storeEnter {
    max-width: 100%;
    height: 359px;
  }
  .store-announce .announce h2:after {
    left: -0.7em;
  }
}
@media only screen and (max-width: 426px) {
  .store {
    margin-top: 0em;
  }
  .store .Intro a{
    font-size: 15px;
  }
}
/*store design end*/

/*product desing start*/
.product-bg {
  background: linear-gradient(
    to top,
    #f5faff 0%,
    #f5faff 60.3%,
    rgba(245, 250, 255, 0) 100%
  );
}
.product {
  font-size: 24px;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}
.product .Intro {
  padding-left: 1.35em;
  padding-right: 1.35em;
}

.product .Intro p {
  color: #425468;
  padding-bottom: 0.2em;
}

.product .Intro h1 {
  color: #0081ff;
}
.product .Intro p:first-of-type {
  color: #0a2540;
  font-size: 1.65em;
  max-width: 15em;
  line-height: 1.2em;
}
.product .Intro a {
  background-color: #0081ff;
  color: white;
  padding: 0.6em 1.1em;
}
.product .Intro h1 ~ p:last-of-type {
  font-weight: 500;
  max-width: 27em;
  color: #425468;
  line-height: 1.4em;
}
.product .Intro h1 ~ p:last-of-type span {
  font-weight: 600;
  color: #0081ff;
}
.productGroup {
  width: 100%;
}
.siproduct {
  width: 697px;
}
.fiproduct {
  width: 408px;
}
.iproduct {
  z-index: 1;
  display: grid;
  grid-template-columns: 0.5fr 0.6fr;
  grid-template-rows: max-content 0.5fr;
  place-content: center;
  margin-bottom: -3.8em;
}
.iproduct .Intro {
  grid-row-start: 1;
  grid-column: 1/-1;
}
.fiproduct {
  padding-top: 7.7em;
  grid-row: -1/1;
  grid-column-start: 2;
}

.siproduct {
  grid-row: 2/-1;
  margin-bottom: -4em;
}
@media only screen and (max-width: 1120px) {
  .product .Intro {
    padding-left: 3em;
    padding-right: 1.35em;
  }
  .product-bg {
    margin-bottom: -4.2em;
  }
  .siproduct {
    width: 65vw;
  }
  .fiproduct {
    width: 35vw;
  }
}
@media only screen and (max-width: 950px) {
  .product .Intro {
    padding-left: 2.5em;
    padding-right: 1.35em;
  }
  .fiproduct {
    padding-top: 12.5em;
  }
  .product-bg {
    margin-bottom: -0.5em;
  }
  .iproduct {
    margin-bottom: -1.5em;
  }
}
@media only screen and (max-width: 655px) {
  .product .Intro {
    padding-left: 2.5em;
    padding-right: 1.35em;
  }
  .product {
    font-size: 21px;
  }
  .fiproduct {
    padding-top: 15.5em;
  }
  .product-bg {
    margin-bottom: -0.5em;
  }
  .iproduct {
    margin-bottom: -1em;
  }
}
@media only screen and (max-width: 481px) {
  .product {
    font-size: 17px;
    margin-bottom: -5.2em;
  }
  .fiproduct {
    padding: 0;
    margin-top: -5.5em;
    grid-row: 2/-1;
  }
  .product .Intro {
    padding-left: 1.5em;
    padding-right: 1.35em;
  }
}
@media only screen and (max-width: 280px) {
  .product {
    margin-bottom: 0em;
  }
  .siproduct {
    display: none;
  }
  .fiproduct {
    display: none;
  }
}

/*product desing end*/

/*stats design start*/
.stats {
  display: flex;
  font-size: 36px;
  color: #a4a4a3;
  justify-content: space-evenly;
  padding: 0em 1em 1em 1em;
  font-weight: 600;
}
.stats p {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.stats p span:last-of-type {
  font-weight: 500;
  font-size: 0.6em;
}
@media only screen and (max-width: 900px) {
  .stats {
    font-size: 30px;
    gap: 1em;
  }
}
@media only screen and (max-width: 645px) {
  .stats {
    font-size: 25px;
    gap: 1em;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
  }
  .stats p {
    padding-top: 8px;
  }
}
@media only screen and (max-width: 305px) {
  .stats {
    padding: 0em 3px;
  }
}
/*stats design end*/

/*hero design start */
.hero-bg {
  max-width: 1440px;
  margin: 0 auto;
}
.hero {
  display: flex;
  align-items: center;
  margin: 50px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.text-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.head-hero {
  width: max-content;
  height: 165px;
  color: #0a083a;
}
.relative-text {
  position: relative;
}

.relative-text h1 {
  color: #fd6636;
}
.text-hero h1 {
  font-weight: 700;
  font-size: 70px;
}
.text-hero p {
  color: #6c6b6b;
  font-size: 21px;
  font-weight: 500;
  max-width: 34ch;
  padding-bottom: 20px;
}
.text-hero a {
  text-decoration: none;
  background-color: #fd6636;
  padding: 0.6em 1.5em;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 19px;
}
.text-hero ul {
  display: flex;
  padding-top: 35px;
  gap: 28px;
  flex-wrap: wrap;
}
.hero-img {
  width: 585px;
  height: 620.75px;
  position: relative;
  overflow: hidden;
}
.hero-img .offline {
  width: 580px;
  top: -22px;
}
.hero-img .online {
  right: -38px;
  width: 562px;
  height: 563px;
}
.hero-img .like {
  top: 22px;
  right: -24px;
  width: 566.8px;
  height: 550px;
}
.hero ul li img {
  max-width: 177.2px;
  max-height: 55.37px;
}
@media only screen and (max-width: 1250px) {
  .hero {
    margin: 50px 30px;
    margin-bottom: 10px;
  }
  .head-hero {
    height: 135px;
  }
  .text-hero h1 {
    font-size: 55px;
  }
  .hero-img .offline {
    left: -30px;
  }
  .hero-img .online {
    left: 32px;
  }
  .hero-img .like {
    right: -60px;
  }
}
@media only screen and (max-width: 1017px) {
  .hero {
    padding-bottom: 40px;
  }
  .hero-img {
    height: 340px;
    width: 100%;
  }
  .hero-img .offline {
    top: 5px;
  }
  .hero-img .like,
  .hero-img .offline {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-img .like {
    height: 90%;
  }
  .hero-img .online {
    top: 18px;
    width: 100%;
    height: 90%;
    left: 38px;
  }
}
@media only screen and (max-width: 800px) {
  .text-hero {
    gap: 20px;
  }
  .head-hero {
    height: 107px;
  }
  .text-hero h1 {
    font-size: 45px;
  }
  .text-hero p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 690px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 0px;
  }
  .hero-img {
    height: 420px;
    width: 80%;
  }
  .hero-img .offline {
    top: 5px;
  }
  .hero-img .online {
    left: 46px;
  }
}
@media only screen and (max-width: 530px) {
  .hero {
    margin: 45px 20px;
    margin-bottom: 10px;
  }
  .text-hero p {
    font-size: max(14px, 5vw);
  }
  .head-hero {
    width: 100%;
    height: max(59px, 24vw);
  }
  .hero-img {
    height: 400px;
    width: 100%;
  }
  .hero a {
    font-size: 14px;
    padding: 11px 20px;
  }
  .text-hero h1 {
    width: max-content;
    font-size: max(25px, 10vw);
  }
  .relative-text {
    height: 77px;
  }
  .hero ul li img {
    max-width: 122px;
    max-height: 38px;
  }
  .hero-img .online {
    left: 36px;
  }
}
@media only screen and (max-width: 450px) {
  .hero-img {
    height: 350px;
  }
}
/*hero-animation*/

.online,
.offline,
.like {
  position: absolute;
  transition: all;
  transition-duration: 600ms;
}

/*hero-animation end*/

/*hero design end*/
