/*suggestion section styling start*/
.suggestions {
  display: flex;
}
.sellers {
  padding: 4.8em 0em;
  flex: 1;
  background-image: url("../Home/Home-Images/redBg.png");
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
}
.sellers a {
  color: white;
  background-color: #66200a;
  padding: 10px 21px;
  border: none;
  border-radius: 0.3rem;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.customers a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #0b3864;
  padding: 10px 21px;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.customers {
  padding: 4.8em 0em;
  flex: 1;
  background-color: #80c0ff;
  width: 100%;
  background-image: url("../Home/Home-Images/blueBg.png");
  background-repeat: no-repeat;
}
.suggestion-bg div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 40ch;
}
.suggestion-bg div div p {
  font-weight: 600;
}
.sellers .suggestion-bg div div p {
  color: #822f14;
}
.customers .suggestion-bg div div p {
  color: #164d83;
}
.suggestion-bg div ~ p {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}
.suggestion-bg h1 {
  font-weight: 700;
  color: white;
  font-size: 2.8rem;
}
.suggestion-bg {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 3.2rem 2.5rem;
}
@media only screen and (max-width: 615px) {
  .suggestions {
    flex-direction: column;
  }
}
/*suggestion section styling end*/

/*comments design start*/

.comments {
  margin-top: 80px;
  position: relative;
  color: white;
  display: flex;
  background-repeat: repeat-x;
  flex-direction: column;
  background-color: black;
  gap: 2rem;
}

.bgComment {
  position: absolute;
  width: 100%;
  top: -110px;
  height: 100%;
  z-index: -1;
}
.comments::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
}
.comments-head {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.comments-head ~ div {
  display: flex;
  padding: 59px 30px;
  padding-top: 10px;
  gap: 30px;
}
.comment {
  background-color: #232323;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 4.5em;
  flex: 1;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
}

.comment-head img {
  width: 40px;
}
.comment-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.comment-head ~ div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.comment-head ~ div h1 {
  font-weight: 500;
  font-size: 23px;
}
.comment-head p {
  line-height: 1.6em;
  width: 23ch;
  font-size: 19px;
}

.comment-head ~ div p {
  font-size: 15px;
}
.comments-scroll {
  overflow-x: scroll;
  margin-bottom: 3em;
}
.comments-scroll::-webkit-scrollbar {
  height: 0.1em;
}
.comments-scroll::-webkit-scrollbar-track {
  margin: 0em 25vw;
}
@media only screen and (max-width: 500px) {
  .comments-scroll::-webkit-scrollbar-track {
    margin: 0em 3em;
  }
}
/*comments design end*/

/*whyShop design start*/
.shopSection {
  display: flex;
  justify-content: center;
  min-width: 260px;
  font-size: 24px;
  padding-bottom: 2em;
  padding-top: 1.5em;
}
.whyShop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 40px;
  gap: 2em;
}
.shopIntro {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.shopIntro h1 {
  color: #ff8963;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 31.8px;
}
.shopIntro p {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  color: #0a2540;
}
.announce-group {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 4.8em;
}
.announce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 9.3em;
  gap: 0.35em;
}
.announce img {
  width: 36px;
  margin-bottom: 0.4em;
}
.announce h2:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 18px;
  background-color: #ff8963;
  left: -20px;
}
.announce h2 {
  display: flex;
  align-items: center;
  color: #0a2540;
  font-weight: 600;
  font-size: 0.9em;
  position: relative;
}
.announce p {
  font-size: 0.75em;
  color: #425466;
  font-weight: 400;
  padding-top: 0.4em;
  line-height: 1.35em;
}
@media only screen and (max-width: 770px) {
  .shopSection {
    justify-content: flex-start;
    font-size: 22px;
    padding-top: 3em;
  }
  .whyShop {
    margin: 0;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 750px) {
  .announce-group {
    flex-direction: column;
    gap: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .shopSection {
    font-size: 17.8px;
  }
  .whyShop {
    margin: 12px;
  }
}
/*announce design end*/

/*store design start*/
.store {
  background: linear-gradient(
    to bottom,
    #f5faff 0%,
    #f5faff 60.3%,
    rgba(245, 250, 255, 0) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  font-size: 24px;
  padding: 6.5em 1.8em 6.5em 3em;
  gap: 2em;
}
.storeEnter img {
  height: 100%;
  width: 100%;
}
.bgStore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
}
.storeEnter {
  height: 22.4em;
  width: 16.85em;
}
.Intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9em;
}
.Intro h1 {
  font-size: 1em;
  color: #ff8963;
  text-transform: uppercase;
  font-weight: 700;
}
.Intro h1 ~ p:first-of-type {
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.3em;
  font-size: 1.9em;
  max-width: 12em;
  font-weight: 700;
}
.Intro h1 ~ p:last-of-type {
  font-size: 0.95em;
  font-weight: 300;
  max-width: 20em;
  color: #a4a4a3;
}
.Intro h1 ~ p:last-of-type span {
  color: #fd8863;
  font-weight: 400;
}
.Intro a {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff8963;
  font-size: 0.85em;
  font-family: Inter;
  margin-top: 1em;
  margin-bottom: 1.8em;
  border: none;
  padding: 0.5em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  color: black;
}
.Intro a img {
  width: 18px;
}
.store-announce {
  display: flex;
  font-size: 24px;
  gap: 2.1em;
}
.store-announce .announce {
  max-width: 11.5em;
  gap: 0.7em;
}

.store-announce .announce h2 {
  color: white;
}
.store-announce .announce h2:after {
  background-color: #00d4ff;
}
.store-announce .announce p {
  color: #a4a4a3;
}

@media only screen and (max-width: 899px) {
  .store {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding: 2.5em 1.8em 3.6em 2.5em;
  }
  .store .bgStore img {
    height: 80%;
  }
  .storeEnter {
    width: 90%;
  }
}
@media only screen and (max-width: 620px) {
  .store-announce {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .store {
    font-size: 16px;
    padding: 3.4em 1.7em;
    min-width: 200px;
    gap: 3.2em;
  }
  .storeEnter {
    width: 100%;
    height: 359px;
  }
  .store-announce .announce h2:after {
    left: -0.7em;
  }
}

/*store design end*/

/*product desing start*/
.product-bg {
  min-width:260px;
  background: linear-gradient(
    to top,
    #f5faff 0%,
    #f5faff 60.3%,
    rgba(245, 250, 255, 0) 100%
  );
  height: 51vw;
  padding-top: 60px;
}

.product .Intro p {
  color: #425468;
  padding-bottom: 0.2em;
}
.product .Intro {
  margin-left: 13vw;
  padding-top: 1.5vw;
}

.product .Intro h1 {
  color: #0081ff;
}
.product .Intro p:first-of-type {
  color: #0a2540;
  max-width: 15em;
}
.product .Intro a {
  background-color: #0081ff;
  color: white;
}
.product .Intro h1 ~ p:last-of-type {
  max-width: 27em;
  font-size: 1.3em;
  color: #425468;
  padding-bottom: 0.4em;
}
.product .Intro h1 ~ p:last-of-type span {
  font-weight: 700;
  color: #0081ff;
}
.product {
  position: relative;
}
.productGroup {
  position: absolute;
  top: 160px;
  bottom: 0px;
  height: 965px;
  z-index: 4;
  left: 11%;
}
.productGroup img {
  width: 90%;
}
@media only screen and (max-width: 1010px) {
.product-bg{
  height: 80vw;
  
}
.product .Intro{
  margin-left: 7vw;
 
}
.productGroup{
  top:190px;
  left: 0;
}
.productGroup img{
  width: 100%;
}
}
@media only screen and (max-width: 600px) {
.product-bg{
  height: 500px
  
}
.productGroup{
  top:220px;
  left: 0;
}
}
@media only screen and (max-width: 500px) {
  .product{
    font-size: 14px;
  }
  .productGroup{
   top:240px;
    height: 324px;
  }

}
@media only screen and (max-width: 450px) {
  .product .Intro{
    margin: 5vw;
    margin-left: 7vw;
  }
  .productGroup img{
    height: 360px;
  }

  .productGroup{
   top:260px;
    height: 324px;
  }

}
@media only screen and (max-width: 300px) {

  .productGroup{
   top:300px;
  }

}

/*product desing end*/

/*stats design start*/
.stats {
  display: flex;
  font-size: 36px;
  color: #a4a4a3;
  justify-content: space-evenly;
  padding: 0em 1em;
  font-weight: 600;
}
.stats p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats p span:last-of-type {
  font-weight: 500;
  font-size: 0.6em;
}
@media only screen and (max-width: 900px) {
  .stats {
    min-width: 200px;
    font-size: 30px;
    gap: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .stats {
    min-width: 200px;
    font-size: 25px;
    gap: 1.4em;

    flex-wrap: wrap;
  }
}
/*stats design end*/

/*hero design start */
.hero {
  display: flex;
  align-items: center;
  margin: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.text-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.head-hero {
  width: max-content;
  height: 165px;
  color: #0a083a;
}
.relative-text {
  position: relative;
}

.relative-text h1 {
  color: #fd6636;
}
.text-hero h1 {
  font-weight: 700;
  font-size: 70px;
}
.text-hero p {
  color: #6c6b6b;
  font-size: 21px;
  max-width: 34ch;
  padding-bottom: 20px;
}
.text-hero a {
  text-decoration: none;
  background-color: #fd6636;
  padding: 0.6em 1.5em;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 19px;
}
.text-hero ul {
  display: flex;
  padding-top: 35px;
  gap: 28px;
  flex-wrap: wrap;
}
.hero-img {
  width: 585px;
  height: 620.75px;
  position: relative;
  overflow: hidden;
}
.hero-img .offline {
  width: 580px;
}
.hero-img .online {
  right: -50px;
  top: -17px;
  width: 562px;
  height: 620.75px;
}
.hero-img .like {
  top: -4px;
  right: 10px;
  width: 566.8px;
  height: 610px;
}
.hero ul li img {
  max-width: 177.2px;
  max-height: 55.37px;
}
@media only screen and (max-width: 1250px) {
  .hero {
    margin: 50px 30px;
    margin-bottom: 10px;
  }
  .head-hero {
    height: 135px;
  }
  .text-hero h1 {
    font-size: 55px;
  }
  .hero-img .offline {
    left: -20px;
  }
  .hero-img .online {
    right: -110px;
  }
  .hero-img .like {
    right: -60px;
  }
}
@media only screen and (max-width: 1017px) {
  .hero-img {
    height: 513px;
    width: 486.14227294921875px;
  }
  .hero-img .like,
  .hero-img .offline {
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-img .online {
    width: 100%;
    height: 100%;
    right: -40px;
  }
}
@media only screen and (max-width: 800px) {
  .text-hero {
    gap: 20px;
  }
  .head-hero {
    height: 107px;
  }
  .text-hero h1 {
    font-size: 45px;
  }
  .text-hero p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 690px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}
@media only screen and (max-width: 530px) {
  .hero {
    margin: 45px 20px;
    min-width: 240px;
    margin-bottom: 10px;
  }
  .text-hero p {
    font-size: max(14px, 5vw);
  }
  .head-hero {
    width: 100%;
    height: max(59px, 24vw);
  }
  .hero-img {
    height: 500px;
    width: 100%;
  }
  .hero-img .offline {
    top: 9px;
  }
  .hero-img .like {
    top: 0;
    left: 3px;
  }
  .hero-img .online {
    top: -12px;
    left: 22px;
    right: 0;
  }
  .hero a {
    font-size: 12.5px;
    padding: 1em 2em;
  }
  .text-hero h1 {
    width: max-content;
    font-size: max(25px, 10vw);
  }
  .relative-text {
    height: 77px;
  }
  .hero ul li img {
    max-width: 122px;
    max-height: 38px;
  }
}
/*hero-animation*/

.online,
.offline,
.like {
  position: absolute;
  transition: all;
  transition-duration: 700ms;
}

/*hero-animation end*/

/*hero design end*/
