/*header and navbar design start */
header {
  border-bottom: 1px #e5e7eb solid;
}
header ul li:hover {
  color: #fd6636;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20.5px 28px 17px 38px;
  gap: 78px;
}
nav a {
  display: flex;
}
.logo {
  width: 170px;
  cursor: pointer;
}
@media only screen and (max-width:500px) {
  .logo{
    width: 140px;
  }
  .hamburger{
    width: 30px;
  }
}
/* header and navbar design end */

/* desktop nav-bar design start */
.desktop-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.desktop-nav ul {
  display: flex;
  list-style: none;
  gap: 18px;
}
header nav ul li{
  width: max-content;
}
.desktop-nav ul:first-of-type {
  font-weight: 500;
  gap: 60px;
}
.desktop-nav ul li a {
  cursor: pointer;
  color: #0a083a;
  font-size: 17px;
}
.desktop-nav ul:last-of-type li a {
  font-weight: 450;
  border: none;
  border: #fd6636 1px solid;
  color: #fd6636;
  font-size: 15px;
  border-radius: 9em;
  padding: 9px 25px;
}
.desktop-nav ul:first-of-type li a:hover {
  color: #fd6636;
}
.desktop-nav ul:last-of-type li:nth-of-type(2) a {
  background-color: #fd6636;
  padding: 9px 19px;
  color: white;
}
@media only screen and (max-width: 1020px) {
  .desktop-nav {
    display: none;
  }
  nav {
    padding: 20.5px 18px 15.6px 20px;
  }
}
/* desktop nav-bar design end */

/*mobile nav-bar design start */
.hamburger img {
  width: 35px;
}
.mobile-nav {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: 100%;
  margin-top: 1.5px;
  background-color: white;
  box-shadow: -2px 14px 13px -9px rgba(0, 0, 0, 0.26);
}
.mobile-nav ul {
  padding: 25px 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-nav {
  display: none;
}
.hamburger {
  display: none;
}
.mobile-nav ul li a {
  color: #0a083a;
}
@media only screen and (max-width: 1020px) {
  nav {
    justify-content: space-between;
    gap: 0rem;
    gap: 20px;
  }
  .mobile-nav {
    display: flex;
    opacity: 0;
    top: -280px;
    transition: all 500ms;
  }
  .hamburger {
    display: flex;
    z-index: 20;
    cursor: pointer;
  }
  .mobile-nav.active {
    top: 100%;
    opacity: 1;
    transition: all 500ms;
  }
}
/*mobile navbar design end*/
