@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: black;
  background-color: white;
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

/*header and navbar design start */
header {
  border-bottom: 1px #e5e7eb solid;
}
header ul li:hover {
  color: #fd6636;
}
nav {
  position: relative;
  padding: 20.5px 30.5px 15.6px 40px;
  display: flex;
  gap: 8rem;
  align-items: center;
}
nav img {
  width: 180.00006103515625px;
  cursor: pointer;
}

/* header and navbar design end */

/* desktop nav-bar design start */
.desktop-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.desktop-nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.desktop-nav ul:first-of-type {
  gap: 3.5rem;
}
.desktop-nav ul li {
  cursor: pointer;
  color: #0a0839;
  font-weight: 500;
}
.desktop-nav ul li button {
  border: none;
  padding: 0.8rem;
  border: #fd6636 1px solid;
  color: #fd6636;
  border-radius: 1.5rem;
  width: 145px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}
.desktop-nav ul li:nth-of-type(2) button {
  background-color: #fd6636;
  color: white;
}
@media only screen and (max-width: 990px) {
  .desktop-nav {
    display: none;
  }
}
/* desktop nav-bar design end */

/*mobile nav-bar design start */

.hamburger:after,
.hamburger:before {
  content: "";
  position: absolute;
}
.mid-line,
.hamburger:after,
.hamburger:before {
  width: 28px;
  border-radius: 2rem;
  height: 5px;
  background-color: #fd6636;
}
.hamburger {
  display: flex;
  align-items: center;
  height: 28px;
  cursor: pointer;
  position: relative;
}
.hamburger:after {
  top: 0;
}
.hamburger:before {
  bottom: 0;
}
.mobile-nav {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: 102%;
  background-color: white;
}
.mobile-nav ul {
  padding: 25px 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-nav {
  display: none;
}
.hamburger {
  display: none;
}

@media only screen and (max-width: 990px) {
  nav {
    justify-content: space-between;
    gap: 0rem;
    gap: 20px;
  }
  .mobile-nav.active,
  .hamburger {
    display: flex;
  }
}
/*mobile navbar design end*/

.hero {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.text-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-hero h1 {
  font-weight: 700;
  font-size: 72px;
  display: flex;
  flex-direction: column;
}
.text-hero h1 span {
  color: #fd6636;
}
.text-hero p {
  color: #6c6b6b;
  font-size: 20px;
}
.text-hero button {
  background-color: #fd6636;
  padding: 1rem;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.text-hero ul {
  padding: 0;
}

.hero-img img {
  height: 620.0359497070312px;
  width: 585.9017333984375px;
}
.hero ul {
  display: flex;
}
.hero ul li img {
  width: 177.2px;
  height: 55.37px;
}
.stats {
  display: flex;
  color: #a4a4a3;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  gap: 8rem;
}
.stats p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.stats p span:first-of-type {
  font-size: 36px;
  font-weight: 600;
}
.items-image {
  display: flex;
  justify-content: center;
}
.items-image img {
  height: 965px;
  max-width: 1080px;
}

/*suggestion section styling start*/
.suggestions {
  display: flex;

  background-color: red;
}
.sellers {
  flex: 1;
  background-color: #ff8963;
  width: 100%;
}
.sellers button {
  color: white;
  background-color: #66200a;
  padding: 10px 21px;
  border: none;
  border-radius: 0.3rem;
  font-size: 14px;
  font-weight: 500;
}
.customers button {
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #0b3864;
  padding: 10px 21px;
  border: none;
  border-radius: 0.3rem;
}
.customers {
  flex: 1;
  background-color: #80c0ff;
  width: 100%;
}
.suggestion-bg div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.suggestion-bg div div p {
  font-weight: 600;
}
.sellers .suggestion-bg div div p {
  color: #822f14;
}
.customers .suggestion-bg div div p {
  color: #164d83;
}
.suggestion-bg div ~ p {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}
.suggestion-bg h1 {
  font-weight: 700;
  color: white;
  font-size: 2.8rem;
}
.suggestion-bg {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 3.2rem 2.5rem;
}
@media only screen and (max-width: 615px) {
  .suggestions {
    flex-direction: column;
  }
}
/*suggestion section styling end*/


/*comments design start*/

.comments{
  margin-top: 80px;
  position: relative;
  color:white;
  display: flex;
  background-repeat: repeat-x;
  flex-direction: column;
  background-color: black;
  gap: 2rem;
}
.bgComment {
  position: absolute;
  width: 100%;
  top:-110px;
  height:100%;
  z-index: -1;
}
.comments::before{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
}
.comments-head{
  padding-top: 20px ;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.comments-head ~ div{
  display: flex;
  padding:59px 30px;
  padding-top:10px;
  gap:30px;
}
.comment{
  background-color: #232323;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap:4.5em;
  flex: 1;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
}
.comment-head div{
  display: flex;
  gap: 0.4em;
  justify-content: center;
}
.comment-head div img{
  width: 22px;
}
.comment-head{
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.comment-head ~ div{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.comment-head ~ div h1{
  font-weight: 500;
  font-size: 23px;
}
.comment-head p{
  line-height:1.6em ;
  max-width: 23ch;
  font-size: 19px;
}
.comment-head ~ div p{
  font-size: 15px;
}

/*comments design end*/


/*whyShop design start*/
.whyShop{
  padding: 4em 1.5em;
  display: flex;
  gap:3.5em;
  flex-direction: column;
  align-items: flex-start;
  max-width: max-content;
  margin: 0 auto;
}
.shopIntro{
  display: flex;
  flex-direction: column;
  gap: 1.5em;


}
.shopIntro h1{
  color: #FF8963;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.shopIntro p{
  font-size: 33px;
  font-weight: 700;
  color: #0A2540;

}
.announce-group{
  display: flex;
  gap: 8em;
  justify-content: center;
}
.announce{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  font-size: 17px;
  
}
.announce img{
  width: 36px;
}
.announce h2:after{
  position: absolute;
  content: "";
  width: 3px;
  height: 21px;
 background-color: #FF8963;
  bottom: 5px;
  left: -25px;
}
.announce h2{
  color:#0A2540;
  font-weight: 600;
  position: relative;
}
.announce p{
  max-width: 25ch;
  color: #425466;
  font-weight: 400;
}
/*footer design start */
footer {
  padding-top: 1.6rem;
}
.footer-inside {
  padding: 20.5px 28.5px 25.6px 38px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.first-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-weight: bold;
  border-bottom: 1.5px solid #a4a4a3;
  padding-bottom: 2.5rem;
  flex-wrap: wrap;
}
.first-list li {
  display: flex;
  gap: 0.9rem;
  flex-direction: column;
}

.first-list li ul {
  display: flex;
  color: #6c6b6b;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 450;
}
.first-list ul li {
  cursor: pointer;
}
.first-list li:first-of-type ul li:first-of-type {
  cursor: text;
  max-width: 25ch;
}
.first-list img {
  width: 180px;
}
.first-list li:last-of-type ul li:first-of-type {
  flex-direction: row;
  gap: 0;
  cursor: text;
}
.subscribe {
  font-size: 1.5rem;
}
footer li div {
  background-color: white;
  border: 1px solid #6c6b6b;
  display: flex;
  align-items: center;
  border-right: none;
}
footer input {
  border: none;
  padding-left: 8px;
}
footer button {
  border: none;
  background-color: #fd6636;
  color: white;
  font-weight: 500;
  padding: 5px 15px;
}
footer p {
  font-size: 14px;
  color: #6c6b6b;
}

@media only screen and (max-width: 915px) {
  .detail {
    border-top: 1.4px solid #6c6b6b;
    width: 100%;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  .footer-inside {
    gap: 0;
  }
  .footer-inside p {
    text-align: center;
  }
  .first-list {
    border-bottom: none;
    padding-bottom: 2px;
    flex-direction: column-reverse;
    gap: 2.5rem;
  }
}

/*footer design end */
