@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  color:black;
  background-color: #f5f5f5;
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

/*header and navbar design start */
header{
  border-bottom: 1px #e5e7eb solid;
}
header ul li:hover{
  color:#fd6636;
}
nav{
  position: relative;
  padding:20.5px 20.5px 15.6px 32px ;
  display: flex;
  gap:8rem;
  align-items: center;
}
nav img{
  width: 180.00006103515625px;
  cursor: pointer;
  }

/* header and navbar design end */

/* desktop nav-bar design start */
.desktop-nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.desktop-nav ul{
  display: flex;
  list-style: none;
  gap:1rem; 
}
.desktop-nav ul:first-of-type{
  gap: 3.5rem;
}
.desktop-nav ul li{
  cursor: pointer;
  color:#0a0839;
  font-weight: 500;
}
.desktop-nav ul li button{
  border: none;
  padding: 0.8rem;
  border: #fd6636 1px solid;
  color: #fd6636;
  border-radius: 1.5rem;
  width: 145px;
  font-weight: bold;
  cursor: pointer;

}
.desktop-nav ul li:nth-of-type(2) button{
  background-color: #fd6636;
  color: white;
}
@media only screen and (max-width:990px) {
  .desktop-nav{
    display: none;
  }
}
/* desktop nav-bar design end */

/*mobile nav-bar design start */

.hamburger:after , .hamburger:before{
  content: "";
  position: absolute;
}
.mid-line , .hamburger:after, .hamburger:before{
  width: 28px;
  border-radius: 2rem;
  height: 5px;
  background-color: #fd6636;
}
.hamburger{
  display: flex;
  align-items: center;
  height: 28px;
  cursor: pointer;
  position: relative;
}
.hamburger:after{
  top:0;
}
.hamburger:before{
  bottom:0; 
}
.mobile-nav{
  display: flex;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top:102%;
}
.mobile-nav ul{
  padding: 25px 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.mobile-nav{
  display: none;
}
.hamburger{
  display: none
}

@media only screen and (max-width:990px) {
  nav{
    justify-content: space-between;
    gap:0rem;
    gap:20px;
  }
  .mobile-nav.active , .hamburger{
    display: flex;
  }
}
/*mobile navbar design end*/


section{
  padding: 2rem 4rem;
}
.hero{
  display: flex;
  gap:5rem;
  justify-content: space-between;
}
.text-hero{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-hero h1{
  font-weight: 700;
  font-size: 72px;
  display: flex;
  flex-direction: column;
}
.text-hero h1 span{
  color:#fd6636;
}
.text-hero p{
  color:#6c6b6b;
  font-size: 20px;
}
.text-hero button{
  background-color: #fd6636;
  padding: 1rem;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.text-hero ul{
  padding: 0;
}

.hero-img img{
  height: 620.0359497070312px;
width: 585.9017333984375px;

}
.hero ul {
  display: flex;
}
.hero ul li img{
  width: 177.2px;
  height: 55.37px;
}
.stats{
  display: flex;
  color:#a4a4a3;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  gap:8rem;
}
.stats p{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.3rem;
}
.stats p span:first-of-type{
  font-size: 36px;
  font-weight: 600;
}
.items-image{
  display: flex;
  justify-content: center;
}
.items-image img{
  height: 965px;
  max-width: 1080px;

}